[data-user-id="237627458143125506"],
.replyAvatar-1K9Wmr[src*="237627458143125506"],
.replyAvatar-1K9Wmr[src*="237627458143125506"] + .username-1A8OIy::before {
    --user-avatar-static: url('https://us.123rf.com/450wm/davidoff205020/davidoff2050201909/davidoff205020190900535/130357860-abstract-animation-of-beautiful-colorful-disco-ball-spinning-seamless-on-black-background-animation-.jpg');
    --user-avatar-playing: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Animated-GIFs-davidope-11.gif');
    --user-avatar-opacity: 0;
}
