/*Chat messages base style*/

#app-mount .avatar-1BDn8e + h2 {
    overflow: visible;
}
.avatar-1BDn8e[data-user-id="237627458143125506"],
.userPopout-xaxa6l[data-user-id="237627458143125506"] .avatar-37jOim svg foreignObject img,
.root-3QyAh1[data-user-id="237627458143125506"] .avatar-AvHqJA svg foreignObject img {
    opacity: 0;
}
.contents-2mQqc9 h2::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -56px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: var(--user-avatar-static);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cozyMessage-3V1Y8y:hover .avatar-1BDn8e + h2::before {
    background-image: var(--user-avatar-playing);
}

/* User Card and Profile base style*/

.avatarStack-2Dr8S9 {
    background-image: var(--user-avatar-playing);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*User avatar links*/

[data-user-id="237627458143125506"] {
    --user-avatar-static: url('https://us.123rf.com/450wm/davidoff205020/davidoff2050201909/davidoff205020190900535/130357860-abstract-animation-of-beautiful-colorful-disco-ball-spinning-seamless-on-black-background-animation-.jpg');
    --user-avatar-playing: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Animated-GIFs-davidope-11.gif');
}
