/*Chat messages base style*/

#app-mount .avatar-1BDn8e + h2 {
    overflow: visible;
}
.avatar-1BDn8e,
.userPopout-xaxa6l .avatar-37jOim svg foreignObject img,
.root-3QyAh1 .avatar-AvHqJA svg foreignObject img {
    opacity: var(--user-avatar-opacity);
}
.contents-2mQqc9 h2::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -56px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: var(--user-avatar-static);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cozyMessage-3V1Y8y:hover .avatar-1BDn8e + h2::before {
    background-image: var(--user-avatar-playing);
}

/* User Card and Profile base style*/

.avatarStack-2Dr8S9 {
    background-image: var(--user-avatar-playing);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
