.avatarStack-2Dr8S9 img,
.wrapper-1BJsBx img {
    opacity: var(--user-avatar-opacity);
}
.APFP {
    background-image: var(--user-avatar-static);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cozyMessage-3V1Y8y:hover .APFP,
.layout-2DM8Md:hover .avatarStack-2Dr8S9,
.selected-aXhQR6 .layout-2DM8Md .avatarStack-2Dr8S9,
.content-1Wq3SX:hover .APFP {
    background-image: var(--user-avatar-playing);
}
.avatarStack-2Dr8S9,
.wrapper-1BJsBx {
    background-image: var(--user-avatar-playing);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.layout-2DM8Md .avatarStack-2Dr8S9 {
    background-image: var(--user-avatar-static);
    background-size: cover;
    border-radius: 50%;
}